1daily.txt
2current problem.txt
3tools.txt
4autosystemsolution.txt
avaj.html
dataset.py
filing_image.py
ocr_engine.py
package-lock.json
package.json
process_log.json
processor.js
sales.csv
try.html
__pycache__/csv.cpython-311.pyc
animal/
node_modules/
invoice_input/
static/
5pingip detail.txt
0tomorrowplan.txt
